<ul>
	<% @preferencia.errors.full_messages.each do |msg| %>
		<li><%= msg %> </li>
	<% end %>
</ul>

<br>

<%= form_for @preferencia do |f| %>

  <div class="field">
    <% if @preferencia.professor %>
			<%= f.hidden_field 'professor_id' %>
		<% else %>
			<%= f.label :professor_id %> <br>
			<%= f.collection_select(:professor_id, Professor.order('nome'), :id, :nome, {:prompt => true}) %>
		<% end %>
  </div>

	<br>

  <div class="field">
    <% if @preferencia.disciplina %>
			<%= f.hidden_field 'disciplina_id' %>
		<% else %>
			<%= f.label :disciplina_id %> <br>
			<%= f.collection_select(:disciplina_id, Disciplina.order('nome'), :id, :nome, {:prompt => true}) %>
		<% end %>
  </div>

	<br>

	Ano: <br> <%= f.text_field :ano %> <br/>

	<br>

	Semestre: <br> <%= f.text_field :semestre %> <br/>

	<br>

  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>

<% end %>
