
<%= form_tag('/gerencia/gradehorario') do -%>
	<table>
		<tr>
			<th>Curso</th>
			<th>Período</th>
			<th>Turno</th>
		</tr>
		<tr>
			<th> <%= select_tag "curso", options_from_collection_for_select(@cursos, "id", "nome") %> </th>
			<th> <%= select_tag "periodo", @periodos.html_safe %> </th>
			<th> <%= select_tag "turno", @turnos.html_safe %> </th>
		</tr>
	</table>
  <div><%= submit_tag 'Buscar' %></div>
<% end -%>

